
/* Document related styles */
* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0 auto;
    padding: 0;
    max-width: 1160px;
    
}





/* Common Styles */

.button {
    max-width: 197px;
    max-height: 50px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 45px;
    text-align: center;
    border-radius: 12px;
    border: none;
    color: white;
}

.primary-color {
    color: #FEA301;
}


/* Nav Bar Styles */

.nav-bar {
    display: flex;
    gap:186px; 
    /* justify-content: center; */
    
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}

.brand {
    display: flex;
    align-items: center;
    gap:11px;
}

.brand-name {
    font-size: 32px;
    font-weight: 700;

}


/* nav menu styles */
.nav-menu {
    display: flex;
    gap: 32px;
}

.nav-menu li {
    list-style: none;
    max-width: 387px;
    max-height: 30px;


}



#about {
    color: #01ACFD;

}

#facilities {
    color:#05D4DF

}

#admission {
    color: #5D58EF;

}
.nav-btn {
    
    background-color: #FEA301;


}

/* Header Section Styles */

.header-section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
    
    
    
}

.header-contents {
    max-width: 640px;
    max-height: 331px;
}

.header-title {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: left;
}

.empower {
    font-weight: bold;
}

.vision {
    color: #01ACFD;
    font-weight: bold;
}

.header-description {
    font-weight: 20px;
    font-weight: normal;
    margin-bottom: 24px;
    text-align: left;
}



.header-btn {
    
    background-color: #111111;
    
}

.header-img {
    width: 468px;
    height: 575px;
}


/* Curriculum Section */

.curriculum {
    background-image:url(/assets/bg.png);
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.curriculum-title {
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
}

.curriculum-card-section {
    display: flex;
    gap: 28px;
}

.curriculum-card {
    background-image: linear-gradient();
}

.curriculum-card img {
    display: block;
    margin: 52px auto;
}

#curriculum-card-1 {
    border-radius: 18px;
    border: 0.5px solid #DEF5FF;
    background-image: linear-gradient(#DEF5FF,#FFFFFF) ;
}

#curriculum-card-2 {
    border-radius: 18px;
    border: 0.5px solid #FFF4DC;
    background-image: linear-gradient(#FFF4DC,#FFFFFF ) 
}

#curriculum-card-3 {
    border-radius: 18px;
    border: 0.5px solid #F2E8FF;
    background-image: linear-gradient(#F2E8FF,#FFFFFF) 
}

.curriculum-card-title{

    margin-top: auto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.curriculum-card-description {

    margin-top: 33px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.readmore {
    margin-top: 33px;
    text-align: center;
    margin-bottom: 53px;
}

#readmore-1 {
    color: #64C8FF

}

#readmore-2 {
    color: #FEA301;
}

#readmore-3 {
   color:  #5D58EF;
}

.arrows {
    margin-top:80px;
    text-align: center;
    margin-bottom: 60px;

   
}

/* Story Section */

.story {
    background-image:url(/assets/bg.png);

    background-image: linear-gradient(#FFFFFF, #FEA301);
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.story-title {
    font-size: 46px;
    font-weight: bold;
    text-align: center;

}

.story-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    

}

.story-container img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}



.story-content {
    background-color: white;
    border-radius: 16px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 33px;
    /* padding-bottom: 47px; */

}

.story-box {
    border-radius: 16px;
    background-color: white;
    max-width: 290px;
    max-height: 301px;
    
}

#story-box-big {

    max-width: 540px;
    max-height: 630px;
    grid-row: span 2;
   
}


#story-date-big {
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #3CD8E8; 
    max-width: 174px;
    max-height: 47px;
    border-radius: 47px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 15px;
    position: relative;
    top: -60px;
    left: -150px;
    
}

#special-date {
    background-color: #5D58F0;
}

.story-date {
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #95B226; 
    max-width: 174px;
    max-height: 47px;
    border-radius: 47px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 15px;
    position: relative;
    top: -30px;
    left: -5px;
}




.story-sub-title-big {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 47px;
}

.story-sub-title {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left:37px;
    padding-right: 37px;
    padding-top: 1px;
    padding-bottom: 28px;

}

.story-paragraph {
    font-size: 15px;
    font-weight: 500;
    color: #666666;
    padding-bottom: 34px;

}
